/* ====== Large screens (desktops) ====== */
@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ====== Laptops / Tablets ====== */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .card img {
    height: 180px;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }
}

/* ====== Mobile ====== */
@media (max-width: 768px) {
  .hero {
    height: 50vh;
    padding: 20px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  .card img {
    height: 150px;
  }

   .contact-hero {
    height: 30vh;
    padding: 20px;
  }

  .contact-cards {
    margin-top: 20px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-container {
    gap: 20px;
    padding: 20px;
  }

  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }
    .nav {
    display: none;
    flex-direction: column;
    background-color: #111;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
  }

  /* Show nav when active class added */
  .nav.active {
    display: flex;
  }

}

/* ====== Small mobile screens ====== */
@media (max-width: 480px) {
  .card h3 {
    font-size: 18px;
  }

  .card p,
  .contact-info p,
  .contact-info ul li,
  .contact-form input,
  .contact-form textarea,
  button {
    font-size: 14px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 14px;
  }
}
